<%= form_for [@post, @comment] do |f| %>
  <div class="form-group panel panel-primary">
    <div class="panel-heading">     
      <%= f.label :comment, "Comenta aqui:" %>
    </div>
    <%= f.text_area :comment, class: "form-control panel-body comment" %>
  </div>
  <div>
    <%= f.submit "Comentar", class: "btn btn-primary" %>
  </div>
<% end %>