<div>
  <%= image_tag "default/default_pets.jpg" , class: 'img-responsive' %>

  <h1>LlevameContigo</h1>
  
  <p>Esta pagina esta destinada a trabajar por el bienestar animal y promover el respeto y la tenencia responsable de animales de compañía, especialmente en condición de abandono, rescatando y mejorando las condiciones sanitarias, educando y generando conciencia en la población.</p>
</div>