<div>
  <legend>Ingresa tus datos</legend>

  <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>

  <form class= "form-group">
    <div class="input-group">      
      <span class="input-group-addon" id="basic-addon1">&#xe003</span>
      
      <input type="text" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1">
    </div>
    
    <div class="input-group">      
      <span class="input-group-addon" id="basic-addon1">#</span>
      <input type="text" class="form-control" placeholder="Apellido" aria-describedby="basic-addon1">
    </div>

    <div class="input-group">      
      <span class="input-group-addon" id="basic-addon1">#</span>
      <input type="text" class="form-control" placeholder="Numero celular" aria-describedby="basic-addon1">
    </div>

    <disv class="input-group">      
      <span class="input-group-addon" id="basic-addon1">@</span>
      <input type="text" class="form-control" placeholder="Correo electronico" aria-describedby="basic-addon1">
    </div>

    <small class="form-text text-muted">Nunca compartiremos sus datos con nadie más.</small>

    <div class="form-group">
      <label>Tus Comentarios</label>
      <textarea class="form-control" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>