<div>
  <legend>
    <h1>Contacto</h1>
    <p>Si tienes dudas o sugerencias sobre Llevamecontigo.cl, por favor escríbenos y te responderemos.</p>
  </legend>

  <!-- <form class= "form-group"> -->
    <div class="row">
        <div class="col-md-2">
        </div>  
        <div class="col-md-8">
          <h3>Ingresa tus datos:</h3>
        
          <div class="col-md-6">
            <div class="input-group">      
              <span class="input-group-addon glyphicon glyphicon-user" aria-hidden="true" id="basic-addon1"></span>
              <input type="text" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1">
            </div>  
          <br>               
          </div>
          <div class="col-md-6">
            <div class="input-group">      
              <span class="input-group-addon glyphicon glyphicon-font" area-hidden="true" id="basic-addon1"></span>
              <input type="text" class="form-control" placeholder="Apellido" aria-describedby="basic-addon1">
            </div>       
          <br>
          </div>

          <div class="col-md-6">
            <disv class="input-group">      
              <span class="input-group-addon" id="basic-addon1">@</span>
              <input type="text" class="form-control" placeholder="Correo electronico" aria-describedby="basic-addon1">
            </disv>
          <br>          
          </div>

          <div class="col-md-6">
            <div class="input-group">      
              <span class="input-group-addon glyphicon glyphicon-phone" aria-hidden="true" id="basic-addon1"></span>
              <input type="text" class="form-control" placeholder="Numero celular" aria-describedby="basic-addon1">
            </div>          
          </div>
          <br>

          <div class="col-md-12">
            <small class="form-text text-muted">Nunca compartiremos sus datos con nadie más.</small>
              <div class="form-group">
              <label>Tus Comentarios</label>
              <textarea class="form-control comment" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>      
          </div>
        
        </div>
        <div class="col-sm-2">
        </div>
    </div>
  <!-- </form> -->
</div>