<div class="row">
  <div class="col-md-4 border-down">
    </div>
  <div class="col-md-4">
    <h1 style="text-align: center">Como Ayudar?</h1>
  </div>
  <div class="col-md-4 border-down">
    
  </div>  
</div>
<br>
<br>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag "default/default_pets.jpg" %>

      <div class="caption" >
        <h3>Adopta</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, vel explicabo fugit.</p>
      </div>
    </div>
  </div>

    <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag "default/default_pets.jpg" %>

      <div class="caption" >
        <h3>Adopta</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, vel explicabo fugit.</p>
      </div>
    </div>
  </div>

    <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag "default/default_pets.jpg" %>

      <div class="caption" >
        <h3>Adopta</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, vel explicabo fugit.</p>
      </div>
    </div>
  </div>

    <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag "default/default_pets.jpg" %>

      <div class="caption" >
        <h3>Adopta</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, vel explicabo fugit.</p>
      </div>
    </div>
  </div>
</div>