<div class="jumbotron">
  <h1>LlevameContigo</h1>
  <p>Esta pagina esta destinada a trabajar por el bienestar animal y promover el respeto y la tenencia responsable de animales de compañía, especialmente en condición de abandono, rescatando y mejorando las condiciones sanitarias, educando y generando conciencia en la población.</p>
  <p><a class="btn btn-primary btn-lg" href="<%= welcome_about_path %>" role="button">Más información</a></p>
</div>

<div class="row">
  <div class="row col-md-12">
    <div class="col-xs-12 col-md-6">
      <%= image_tag "welcome/w_1.jpg" , class: 'img-responsive' %>      
    </div>

    <div class="col-xs-12 col-md-6">
      <h3>Adopta</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, vel explicabo fugit.</p>
    </div> 
  </div>

  <div class="row col-md-12">
    <div class="col-xs-12 col-md-6">
      <h3>Adopta</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, vel explicabo fugit.</p>
    </div>

    <div class="col-xs-12 col-md-6">
      <%= image_tag "welcome/w_2.jpg" , class: 'img-responsive' %>      
    </div>
  </div>

  <div class="row col-md-12">
    <div class="col-xs-12 col-md-6">
      <%= image_tag "welcome/w_3.jpg" , class: 'img-responsive' %>      
    </div>

    <div class="col-xs-12 col-md-6">
      <h3>Adopta</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, vel explicabo fugit.</p>
    </div> 
  </div>
</div>




<footer>
  <div class="container">
    <p>Uso academico</p>
    
  </div>
</footer>

