<div class="row">
  <div class="main col-lg-8">
    <article class="blogpost">
      <div class="embed-responsive embed-responsive-21by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Wz4XuwW5Dgg" allowfullscreen></iframe>
      </div>
      <header>
        <h2>Esto es un Titulo de Noticia</h2>
        <div class="post-info">
          <span class="post-date">
            <i class="icon-calendar"></i>
          <span class="day">12</span>
          <span class="month">May 2017</span>
          </span>
          <span class="submitted"><i class="icon-user-1"></i> by <a href="#">User</a></span>
          <span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
        </div>
      </header>
      <div class="blogpost-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio dolorem magnam maxime, repellat? Odio eveniet ab voluptatibus libero. Distinctio dolorem qui, iure pariatur saepe maiores error tempora consequatur, facere hic perspiciatis suscipit sint. Hic autem suscipit omnis, iste minus vel.</p>
      </div>        
    </article>
    
    <div class="embed-responsive embed-responsive-21by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Wz4XuwW5Dgg" allowfullscreen></iframe>
    </div>
  </div>

  <aside class="col-lg-4 col-xl-3 ml-xl-auto">
    <div class="sidebar">
      <div class="block clearfix">
        <h3>Tweets</h3>
        <ul class="tweets">
          <li>
            <i class="fa fa-twitter"></i>
            <p><a href="#">@lorem</a>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, quaerat? Facilis animi velit totam eveniet, maxime fugiat perferendis atque ducimus!</p>
          </li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="block clearfix"></div>
      <div class="block clearfix"></div>
      <div class="block clearfix"></div>
    </div>
  </aside>
  
</div>