<div class="row">
  <div class="col-xs-4">
    <h2>Servicio</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eveniet officiis nesciunt at eligendi, reiciendis, pariatur iusto laboriosam nostrum illo, accusantium molestiae facere non! Soluta repellendus dolorum ut enim nobis ea eum, voluptates ducimus dolorem pariatur? Magni voluptas, error dignissimos.
    </p>
  </div>
  <div class="col-xs-4">
    <h2>Servicio</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eveniet officiis nesciunt at eligendi, reiciendis, pariatur iusto laboriosam nostrum illo, accusantium molestiae facere non! Soluta repellendus dolorum ut enim nobis ea eum, voluptates ducimus dolorem pariatur? Magni voluptas, error dignissimos.
    </p>
  </div>
    <div class="col-xs-4">
    <h2>Servicio</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eveniet officiis nesciunt at eligendi, reiciendis, pariatur iusto laboriosam nostrum illo, accusantium molestiae facere non! Soluta repellendus dolorum ut enim nobis ea eum, voluptates ducimus dolorem pariatur? Magni voluptas, error dignissimos.
    </p>
  </div>
    <div class="col-xs-4">
    <h2>Servicio</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eveniet officiis nesciunt at eligendi, reiciendis, pariatur iusto laboriosam nostrum illo, accusantium molestiae facere non! Soluta repellendus dolorum ut enim nobis ea eum, voluptates ducimus dolorem pariatur? Magni voluptas, error dignissimos.
    </p>
  </div>
    <div class="col-xs-4">
    <h2>Servicio</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eveniet officiis nesciunt at eligendi, reiciendis, pariatur iusto laboriosam nostrum illo, accusantium molestiae facere non! Soluta repellendus dolorum ut enim nobis ea eum, voluptates ducimus dolorem pariatur? Magni voluptas, error dignissimos.
    </p>
  </div>
    <div class="col-xs-4">
    <h2>Servicio</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eveniet officiis nesciunt at eligendi, reiciendis, pariatur iusto laboriosam nostrum illo, accusantium molestiae facere non! Soluta repellendus dolorum ut enim nobis ea eum, voluptates ducimus dolorem pariatur? Magni voluptas, error dignissimos.
    </p>
  </div>
    <div class="col-xs-4">
    <h2>Servicio</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eveniet officiis nesciunt at eligendi, reiciendis, pariatur iusto laboriosam nostrum illo, accusantium molestiae facere non! Soluta repellendus dolorum ut enim nobis ea eum, voluptates ducimus dolorem pariatur? Magni voluptas, error dignissimos.
    </p>
  </div>
</div>